In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.max_columns = 999
train = pd.read_csv("./train.csv")

In [23]:
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [36]:
cat_dummies = pd.get_dummies(train['Category'])
day_dummies = pd.get_dummies(train['DayOfWeek'])
PdDistrict_dummies = pd.get_dummies(train['PdDistrict'])
res_dummies = pd.get_dummies(train['Resolution'])

In [27]:
train['Category']=train['Category'].astype('category').cat.codes
train['Resolution']=train['Resolution'].astype('category').cat.codes
train['DayOfWeek']=train['DayOfWeek'].astype('category').cat.codes
train['PdDistrict']=train['PdDistrict'].astype('category').cat.codes
train.corr()

            Category  DayOfWeek  PdDistrict  Resolution         X         Y
Category    1.000000   0.000388   -0.040674    0.034913 -0.024401 -0.000414
DayOfWeek   0.000388   1.000000    0.009571   -0.030273 -0.000279  0.000042
PdDistrict -0.040674   0.009571    1.000000   -0.079482 -0.268083  0.016744
Resolution  0.034913  -0.030273   -0.079482    1.000000 -0.082152 -0.003161
X          -0.024401  -0.000279   -0.268083   -0.082152  1.000000  0.559338
Y          -0.000414   0.000042    0.016744   -0.003161  0.559338  1.000000

In [28]:
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,37,WARRANT ARREST,6,4,0,OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,21,TRAFFIC VIOLATION ARREST,6,4,0,OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,21,TRAFFIC VIOLATION ARREST,6,4,0,VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,16,GRAND THEFT FROM LOCKED AUTO,6,4,11,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,16,GRAND THEFT FROM LOCKED AUTO,6,5,11,100 Block of BRODERICK ST,-122.438738,37.771541

In [38]:
day_dummies.head()

   0  1  2  3  4  5  6
0  0  0  0  0  0  0  1
1  0  0  0  0  0  0  1
2  0  0  0  0  0  0  1
3  0  0  0  0  0  0  1
4  0  0  0  0  0  0  1

In [40]:
pd.concat([train, day_dummies], axis=1)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,0,1,2,3,4,5,6
0,2015-05-13 23:53:00,37,WARRANT ARREST,6,4,0,OAK ST / LAGUNA ST,-122.425892,37.774599,0,0,0,0,0,0,1
1,2015-05-13 23:53:00,21,TRAFFIC VIOLATION ARREST,6,4,0,OAK ST / LAGUNA ST,-122.425892,37.774599,0,0,0,0,0,0,1
2,2015-05-13 23:33:00,21,TRAFFIC VIOLATION ARREST,6,4,0,VANNESS AV / GREENWICH ST,-122.424363,37.800414,0,0,0,0,0,0,1
3,2015-05-13 23:30:00,16,GRAND THEFT FROM LOCKED AUTO,6,4,11,1500 Block of LOMBARD ST,-122.426995,37.800873,0,0,0,0,0,0,1
4,2015-05-13 23:30:00,16,GRAND THEFT FROM LOCKED AUTO,6,5,11,100 Block of BRODERICK ST,-122.438738,37.771541,0,0,0,0,0,0,1
5,2015-05-13 23:30:00,16,GRAND THEFT FROM UNLOCKED AUTO,6,2,11,0 Block of TEDDY AV,-122.403252,37.713431,0,0,0,0,0,0,1
6,2015-05-13 23:30:00,36,STOLEN AUTOMOBILE,6,2,11,AVALON AV / PERU AV,-122.423327,37.725138,0,0,0,0,0,0,1
7,2015-05-13 23:30:00,36,STOLEN AUTOMOBILE,6,0,11,KIRKWOOD AV / DONAHUE ST,-122.371274,37.727564,0,0,0,0,0,0,1
8,2015-05-13 23:00:00,16,GRAND THEFT FROM LOCKED AUTO,6,6,11,600 Block of 47TH AV,-122.508194,37.776601,0,0,0,0,0,0,1
9,2015-05-13 23:00:00,16,GRAND THEFT FROM LOCKED AUTO,6,1,11,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802,0,0,0,0,0,0,1
10,2015-05-13 22:58:00,16,PETTY THEFT FROM LOCKED AUTO,6,1,11,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802,0,0,0,0,0,0,1
11,2015-05-13 22:30:00,21,MISCELLANEOUS INVESTIGATION,6,8,11,0 Block of ESCOLTA WY,-122.487983,37.737667,0,0,0,0,0,0,1
12,2015-05-13 22:30:00,35,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",6,9,11,TURK ST / JONES ST,-122.412414,37.783004,0,0,0,0,0,0,1
13,2015-05-13 22:06:00,16,GRAND THEFT FROM LOCKED AUTO,6,4,11,FILLMORE ST / GEARY BL,-122.432915,37.784353,0,0,0,0,0,0,1
14,2015-05-13 22:00:00,20,FOUND PROPERTY,6,0,11,200 Block of WILLIAMS AV,-122.397744,37.729935,0,0,0,0,0,0,1
15,2015-05-13 22:00:00,20,FOUND PROPERTY,6,0,11,0 Block of MENDELL ST,-122.383692,37.743189,0,0,0,0,0,0,1
16,2015-05-13 22:00:00,25,"ROBBERY, ARMED WITH A KNIFE",6,9,11,EDDY ST / JONES ST,-122.412597,37.783932,0,0,0,0,0,0,1
17,2015-05-13 21:55:00,1,AGGRAVATED ASSAULT WITH BODILY FORCE,6,2,11,GODEUS ST / MISSION ST,-122.421682,37.742822,0,0,0,0,0,0,1
18,2015-05-13 21:40:00,21,TRAFFIC VIOLATION,6,0,0,MENDELL ST / HUDSON AV,-122.386401,37.738983,0,0,0,0,0,0,1
19,2015-05-13 21:30:00,20,FOUND PROPERTY,6,9,11,100 Block of JONES ST,-122.412250,37.782556,0,0,0,0,0,0,1
20,2015-05-13 21:30:00,16,GRAND THEFT FROM LOCKED AUTO,6,2,11,200 Block of EVELYN WY,-122.449389,37.742669,0,0,0,0,0,0,1
21,2015-05-13 21:17:00,25,"ROBBERY, BODILY FORCE",6,2,11,1600 Block of VALENCIA ST,-122.420272,37.747332,0,0,0,0,0,0,1
22,2015-05-13 21:11:00,37,WARRANT ARREST,6,9,11,100 Block of JONES ST,-122.412250,37.782556,0,0,0,0,0,0,1
23,2015-05-13 21:11:00,20,"STAY AWAY OR COURT ORDER, NON-DV RELATED",6,9,11,100 Block of JONES ST,-122.412250,37.782556,0,0,0,0,0,0,1
24,2015-05-13 21:10:00,16,GRAND THEFT FROM LOCKED AUTO,6,4,11,FILLMORE ST / LOMBARD ST,-122.436049,37.799841,0,0,0,0,0,0,1
25,2015-05-13 21:00:00,20,LOST PROPERTY,6,9,11,300 Block of OFARRELL ST,-122.410509,37.786043,0,0,0,0,0,0,1
26,2015-05-13 21:00:00,16,GRAND THEFT FROM LOCKED AUTO,6,4,11,2000 Block of BUSH ST,-122.431018,37.787388,0,0,0,0,0,0,1
27,2015-05-13 21:00:00,16,GRAND THEFT FROM LOCKED AUTO,6,2,11,500 Block of COLLEGE AV,-122.423656,37.732556,0,0,0,0,0,0,1
28,2015-05-13 21:00:00,16,ATTEMPTED THEFT FROM LOCKED VEHICLE,6,8,11,19TH AV / SANTIAGO ST,-122.475773,37.744919,0,0,0,0,0,0,1
29,2015-05-13 20:56:00,21,MISCELLANEOUS INVESTIGATION,6,8,11,2000 Block of 41ST AV,-122.499787,37.748518,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878019,2003-01-06 02:37:00,21,"DRIVERS LICENSE, SUSPENDED OR REVOKED",1,7,1,6TH ST / MARKET ST,-122.410294,37.782231,0,1,0,0,0,0,0
878020,2003-01-06 02:32:00,21,TRAFFIC VIOLATION,1,4,1,VAN NESS AV / TURK ST,-122.420642,37.781961,0,1,0,0,0,0,0
878021,2003-01-06 02:24:00,35,MALICIOUS MISCHIEF,1,4,12,SANCHEZ ST / 14TH ST,-122.431191,37.767595,0,1,0,0,0,0,0
878022,2003-01-06 02:16:00,36,RECOVERED VEHICLE - STOLEN OUTSIDE SF,1,3,11,17TH ST / MISSION ST,-122.419516,37.763429,0,1,0,0,0,0,0
878023,2003-01-06 02:15:00,16,GRAND THEFT PICKPOCKET,1,9,11,600 Block of ELLIS ST,-122.416894,37.784286,0,1,0,0,0,0,0
878024,2003-01-06 02:09:00,21,VIOLATION OF MUNICIPAL POLICE CODE,1,5,1,600 Block of DIVISADERO ST,-122.437781,37.775483,0,1,0,0,0,0,0
878025,2003-01-06 02:06:00,21,TRAFFIC VIOLATION,1,0,0,NEWHALL ST / GALVEZ AV,-122.387710,37.740674,0,1,0,0,0,0,0
878026,2003-01-06 02:06:00,37,WARRANT ARREST,1,0,0,NEWHALL ST / GALVEZ AV,-122.387710,37.740674,0,1,0,0,0,0,0
878027,2003-01-06 02:00:00,37,ENROUTE TO OUTSIDE JURISDICTION,1,7,0,900 Block of MARKET ST,-122.409708,37.782828,0,1,0,0,0,0,0
878028,2003-01-06 02:00:00,1,AGGRAVATED ASSAULT WITH BODILY FORCE,1,7,11,6TH ST / MARKET ST,-122.410294,37.782231,0,1,0,0,0,0,0
878029,2003-01-06 01:54:00,21,PROBATION VIOLATION,1,9,0,1400 Block of GOLDEN GATE AV,-122.434423,37.779193,0,1,0,0,0,0,0
878030,2003-01-06 01:54:00,28,"FORCIBLE RAPE, BODILY FORCE",1,9,0,1400 Block of GOLDEN GATE AV,-122.434423,37.779193,0,1,0,0,0,0,0
878031,2003-01-06 01:50:00,1,BATTERY,1,0,11,3RD ST / NEWCOMB AV,-122.390417,37.735593,0,1,0,0,0,0,0
878032,2003-01-06 01:36:00,21,"DRIVERS LICENSE, SUSPENDED OR REVOKED",1,4,1,GEARY BL / FRANKLIN ST,-122.423031,37.785482,0,1,0,0,0,0,0
878033,2003-01-06 01:30:00,35,"MALICIOUS MISCHIEF, VANDALISM",1,6,1,1000 Block of 22ND AV,-122.391668,37.757793,0,1,0,0,0,0,0
878034,2003-01-06 01:30:00,34,TRESPASSING,1,6,1,1000 Block of 22ND AV,-122.391668,37.757793,0,1,0,0,0,0,0
878035,2003-01-06 00:55:00,1,BATTERY,1,4,11,1300 Block of WEBSTER ST,-122.431046,37.783030,0,1,0,0,0,0,0
878036,2003-01-06 00:55:00,16,PETTY THEFT SHOPLIFTING,1,4,11,1300 Block of WEBSTER ST,-122.431046,37.783030,0,1,0,0,0,0,0
878037,2003-01-06 00:55:00,35,"MALICIOUS MISCHIEF, VANDALISM",1,4,11,1300 Block of WEBSTER ST,-122.431046,37.783030,0,1,0,0,0,0,0
878038,2003-01-06 00:42:00,37,ENROUTE TO OUTSIDE JURISDICTION,1,9,0,TAYLOR ST / GEARY ST,-122.411519,37.786941,0,1,0,0,0,0,0
878039,2003-01-06 00:40:00,21,"DRIVERS LICENSE, SUSPENDED OR REVOKED",1,4,1,POLK ST / CALIFORNIA ST,-122.420692,37.790577,0,1,0,0,0,0,0
878040,2003-01-06 00:33:00,1,INFLICT INJURY ON COHABITEE,1,3,11,2800 Block of FOLSOM ST,-122.414073,37.751685,0,1,0,0,0,0,0
878041,2003-01-06 00:31:00,21,"DRIVERS LICENSE, SUSPENDED OR REVOKED",1,6,1,CLEMENT ST / 14TH AV,-122.472985,37.782552,0,1,0,0,0,0,0
878042,2003-01-06 00:20:00,1,ATTEMPTED HOMICIDE WITH A GUN,1,0,0,1500 Block of SHAFTER AV,-122.389769,37.730564,0,1,0,0,0,0,0
878043,2003-01-06 00:20:00,21,PAROLE VIOLATION,1,0,0,1500 Block of SHAFTER AV,-122.389769,37.730564,0,1,0,0,0,0,0
878044,2003-01-06 00:15:00,25,ROBBERY ON THE STREET WITH A GUN,1,8,11,FARALLONES ST / CAPITOL AV,-122.459033,37.714056,0,1,0,0,0,0,0
878045,2003-01-06 00:01:00,16,GRAND THEFT FROM LOCKED AUTO,1,2,11,600 Block of EDNA ST,-122.447364,37.731948,0,1,0,0,0,0,0
878046,2003-01-06 00:01:00,16,GRAND THEFT FROM LOCKED AUTO,1,7,11,5TH ST / FOLSOM ST,-122.403390,37.780266,0,1,0,0,0,0,0
878047,2003-01-06 00:01:00,35,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",1,7,11,TOWNSEND ST / 2ND ST,-122.390531,37.780607,0,1,0,0,0,0,0
878048,2003-01-06 00:01:00,12,"CHECKS, FORGERY (FELONY)",1,0,11,1800 Block of NEWCOMB AV,-122.394926,37.738212,0,1,0,0,0,0,0

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,date,hour
260410,2011-11-04 02:30:00,16,GRAND THEFT FROM LOCKED AUTO,0,0,11,22ND ST / KANSAS ST,-122.402806,37.757069,<built-in method date of Timestamp object at 0...,2
102114,2014-01-06 17:00:00,1,THREATS AGAINST LIFE,1,2,11,0 Block of CIELITO DR,-122.422023,37.709625,<built-in method date of Timestamp object at 0...,17
738955,2004-11-12 18:00:00,25,"ROBBERY, BODILY FORCE",0,9,11,EDDY ST / LARKIN ST,-122.417531,37.783311,<built-in method date of Timestamp object at 0...,18
126304,2013-09-06 17:44:00,20,FOUND PROPERTY,0,5,11,500 Block of STANYAN ST,-122.454252,37.772404,<built-in method date of Timestamp object at 0...,17
684158,2005-09-05 11:54:00,37,WARRANT ARREST,1,8,0,800 Block of IRVING ST,-122.466853,37.763958,<built-in method date of Timestamp object at 0...,11
810015,2003-11-27 14:55:00,35,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",4,8,11,2300 Block of NORIEGA ST,-122.488808,37.753752,<built-in method date of Timestamp object at 0...,14
715544,2005-03-24 19:00:00,16,PETTY THEFT FROM LOCKED AUTO,4,4,11,PIERCE ST / CHESTNUT ST,-122.439505,37.800402,<built-in method date of Timestamp object at 0...,19
659589,2006-01-01 11:30:00,35,"MALICIOUS MISCHIEF, VANDALISM",3,6,11,3000 Block of SACRAMENTO ST,-122.443123,37.788619,<built-in method date of Timestamp object at 0...,11
506880,2008-03-21 11:51:00,37,ENROUTE TO PAROLE OFFICER,0,3,0,2000 Block of MISSION ST,-122.419658,37.764221,<built-in method date of Timestamp object at 0...,11
872579,2003-01-25 23:30:00,20,LOST PROPERTY,2,0,11,3RD ST / MARIPOSA ST,-122.388854,37.764323,<built-in method date of Timestamp object at 0...,23

In [70]:
# Extraer valor de las fecha
train['Dates'] = train['Dates'].astype('datetime64[ns]')

train['date'] = [d.date() for d in train['Dates']]
train['hour'] = [d.hour for d in train['Dates']]


train['Year'] = [d.year for d in train['date']]
train['Month'] = [d.month for d in train['date']]
train['Day'] = [d.day for d in train['date']]

In [71]:
train.sample(3)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,date,hour,Year,Month,Day
148638,2013-05-28 14:00:00,32,SUSPICIOUS OCCURRENCE,5,4,11,1800 Block of POST ST,-122.432252,37.785314,2013-05-28,14,2013,5,28
651524,2006-02-12 11:00:00,16,PETTY THEFT FROM LOCKED AUTO,3,1,11,STOCKTON ST / BAY ST,-122.410314,37.806027,2006-02-12,11,2006,2,12
371649,2010-03-10 17:30:00,4,"BURGLARY, FORCIBLE ENTRY",6,3,11,2000 Block of MISSION ST,-122.419520,37.764229,2010-03-10,17,2010,3,10

In [82]:
train.groupby(['Year']).count()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,date,hour,Month,Day
Year,,,,,,,,,,,,,
2003,73902,73902,73902,73902,73902,73902,73902,73902,73902,73902,73902,73902,73902
2004,73422,73422,73422,73422,73422,73422,73422,73422,73422,73422,73422,73422,73422
2005,70779,70779,70779,70779,70779,70779,70779,70779,70779,70779,70779,70779,70779
2006,69909,69909,69909,69909,69909,69909,69909,69909,69909,69909,69909,69909,69909
2007,68015,68015,68015,68015,68015,68015,68015,68015,68015,68015,68015,68015,68015
2008,70174,70174,70174,70174,70174,70174,70174,70174,70174,70174,70174,70174,70174
2009,69000,69000,69000,69000,69000,69000,69000,69000,69000,69000,69000,69000,69000
2010,66542,66542,66542,66542,66542,66542,66542,66542,66542,66542,66542,66542,66542
2011,66619,66619,66619,66619,66619,66619,66619,66619,66619,66619,66619,66619,66619
2012,71731,71731,71731,71731,71731,71731,71731,71731,71731,71731,71731,71731,71731
2013,75606,75606,75606,75606,75606,75606,75606,75606,75606,75606,75606,75606,75606
2014,74766,74766,74766,74766,74766,74766,74766,74766,74766,74766,74766,74766,74766
2015,27584,27584,27584,27584,27584,27584,27584,27584,27584,27584,27584,27584,27584